$browser-context: 16px // Начальное значение для миксина _emizer (преобразование px в em).
$f-text: "RobotoRegular", Arial, sans-serif
$f-title: "RobotoBold", Arial, sans-serif
$text-dark: #000000
$text-light: #b7bbc7
$accent-blue: #008ae2
$btn-green: #3cebc4
$href-transition: all 0.3s ease

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
