// BEGIN HEADER
.header
  height: rem(120px)
  padding-top: rem(23px)
  background: #ffffff
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)

.header-top-row
  margin-bottom: rem(26px)

.logo
  color: $text-dark
  cursor: pointer
  &:hover
    color: $text-dark

.logo__desc
  position: relative
  display: inline-block
  padding-left: 56px
  font-size: rem(12px)
  letter-spacing: em(0.5px)
  &::before
    position: absolute
    top: 50%
    left: 0
    height: 36px
    width: 40px
    background-image: url('../img/@2x/logo--header@2x.png')
    transform: translateY(-50%);
    content: ''

.logo__desc--bold
  font-family: $title

.dropdown-city__btn
  position: relative
  font-family: $title-db
  font-weight: bold
  font-size: rem(14px)
  cursor: pointer
  &:before
    position: absolute
    top: em(20px)
    left: 0px
    width: em(63px)
    height: em(1px)
    background: #b4bdc6
    content: ''
  &:focus
    outline: none

.dropdown-city
  margin-top: rem(-5px)
  padding-right: rem(32px)
  text-align: right
  color: #b4bdc6

.dropdown-city__label
  font-size: em(13px)
  letter-spacing: em(0.5px)
  color: #000000

.dropdown-menu
  font-size: rem(13px)
  letter-spacing: em(0.5px)

.phone
  margin-top: rem(-8px)
  text-align: right

.phone__number
  margin-top: rem(-7px)
  font-family: Arial
  font-size: rem(19px)
  font-weight: bold
  letter-spacing: em(0.2px)
  text-align: right
  color: $accent-blue
  &:hover
    color: $accent-blue
  &:before
    position: absolute
    top: em(-6px)
    left: em(18px)
    font-family: "fontAwesome"
    color: $accent-blue
    cursor: auto
    content: '\f095'

.phone__desc
  display: block
  margin-top: em(-1px)
  margin-bottom: em(21px)
  margin-right: em(5px)
  font-size: rem(12px)
  letter-spacing: 0px
  text-align: right
  color: $text-light

.call-btn
  padding: em(9px) em(24px) em(9px) em(24px)
  margin-top: em(-2px)
  font-family: $title-db
  font-size: rem(14px)
  color: #000000
  background: $btn-green
  border-radius: em(4px)
  transition: $href-transition
  cursor: pointer
  &:hover
    background: lighten($btn-green, 20%)
  &:focus
    outline: none

.nav__item
  position: relative;
  margin-right: em(100px)
  font-size: rem(12px)
  letter-spacing: em(0.5px)
  color: $text-dark
  &:before
    position: absolute
    left: 0
    bottom: em(-5px)
    display: block
    width: 100%
    height: em(3px)
    background: $accent-blue
    transition: opacity 0.3s ease-in-out
    opacity: 0
    content: ''
  &:last-child
    margin-right: 0
  &:hover
    color: $accent-blue
  &:focus
    color: #000000
  &:focus:before
    opacity: 1
// END HEADER