// MAIN ->
// .main .container
//   background: pink

.main-title
  padding-top: 92px
  margin-bottom: 22px
  font-family: $title
  font-size: em(35px)
  letter-spacing: 0.5px

.main-title--blue
  color: $accent-blue

.main-desc
  font-size: em(13px)

.cta-input
  display: inline-block

.cta-btn
  display: inline-block

// <- MAIN