// BEGIN SECTION-4
.sec-4-title
  margin-bottom: em(30px)
  font-family: $title
  font-size: rem(30px)
  letter-spacing: em(0.5px)
  text-align: center

.sec-4-item
  padding: 30px
  background-color: #ffffff
  border-radius: 5px
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)

.sec-4-item__text, .sec-4-item__price, .sec-4-item__btn
  display: inline-block

.sec-4-item__text
  width: 540px
  margin-right: 76px
  font-family: $title-db
  font-size: em(16px)
  letter-spacing: em(0.5)

.sec-4-item__price
  margin-right: 158px

.sec-4-item__btn
  padding: 10px 30px 10px 30px
  font-family: $title-db
  font-size: em(16px)
  letter-spacing: em(0.5px)
  color: #ffffff
  border-radius: 5px
  background-image: linear-gradient(to right, #1f65d4, lighten(#1f65d4, 15%))
  cursor: pointer
// END SECTION-4